@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    background-color: #e5e5e5;
    color: #533738;
    font-family: 'Montserrat', sans-serif;
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #533738;
}

.navigation-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 26px;
    margin-top: 38px;
}

.wide-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


.high-container{
    height: 715px;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-color: #F9EAE1;
}
.main-heading{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    display: block;
    Width:534px;
    Height:186px;
    margin-left: 185px;
}

.promo-description{
    display: block;
    width: 493px;
    height: 90px;
    margin-left: 185px;
    margin-bottom:21px;
}

.button{
    display: block;
    width: 175px;
    background-color: #CC8B86;
    padding: 25px 65px;
    margin-left: 185px;
    text-align: center;
}

.promo-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.promo-button{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.section-heading-about{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.section-heading{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}

.half-wrap{
    display: flex;
    margin-left: 183px;
    margin-bottom: 21px;
    gap: 63px;
}

.text-wrap{
font-size: 18px;
line-height: 30px;
width: 528px;
}

.advantages{
    background-color: #8D7370;
}

.advantages-list{
    list-style: none;
    display: flex;
    justify-content:space-around;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0;
    padding: 80px;
}

.example{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.example-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.example-text-wrap{
    background-image: url(../img/portfolio-1.jpg);
    display: block;
    width: 488px;
    height: 451px;
}

.container-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.team{
    background-color: #E2C4BA;
}

.team-members{
    list-style: none;
}

.form{
    background-color: #8D7370;
    color: #FFFFFF;
}

.footer-content{
    list-style: none;
    display: flex;

}