@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    background-color: #EFE6E4;;
    color: #533738;
    font-family: 'Montserrat', sans-serif;
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #533738;
}

li{
    list-style: none;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 26px;
    margin-top: 38px;
}

.wide-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


.high-container{
    height: 715px;
    background-image: url(../img/background.jpg);    
    background-color: #F9EAE1;
}
.main-heading{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    display: block;
    Width:534px;
    Height:186px;
    margin-left: 185px;
}

.promo-description{
    display: block;
    width: 493px;
    height: 90px;
    margin-left: 185px;
    margin-bottom:21px;
}

.button{
    display: block;
    width: 175px;
    background-color: #CC8B86;
    padding: 25px 65px;
    margin-left: 185px;
    text-align: center;
}

.promo-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.promo-button{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.title-about{
    text-align: center;
}
.section-heading{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}

.half-wrap{
    display: flex;
    margin-left: 183px;
    margin-bottom: 21px;
    gap: 63px;
}

.text-wrap{
font-size: 18px;
line-height: 30px;
width: 528px;
}

.advantages{
    background-color: #8D7370;
}

.advantages-list{
    list-style: none;
    display: flex;
    justify-content:space-around;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0;
    padding: 80px;
}

.example{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.example-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.example-text-wrap{
    background-image: url(../img/portfolio-1.jpg);
    background-color: rgba(100, 72, 69, 0.8);
    display: block;
    width: 488px;
    height: 451px;
}

.example-text-wrap:hover{
    background-image: linear-gradient(rgba(100, 72, 69, 0.8)),rgba(100, 72, 69, 0.8), url(../img/portfolio-1.jpg);
}

.example{
    text-align: center;
    margin-top: 86px;
}

.example-text{
    margin-left: 35px;
    margin-right: 35px;
}

.container-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin: 40px 100px;
}

.title-portfolio{
    margin: 0;
    margin-left: 100px;
    margin-top: 65px;;
}

.container-portfolio a{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}

.team{
    background-color: #E2C4BA;
}

.team-members{
    list-style: none;
    display: flex;
    width: 320px;
    gap: 38px;
    margin-left: 181px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.title-team{
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.title-work-process{
    text-align: center;
    margin: 0;
}

.work-process{
    list-style:none;
    display: flex;
    margin-left: 100px;
    
}
.work-step{
    width: 285px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.review-item{
    display: grid;
    grid-template-columns: 407px 407px;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.title-reviews{
    margin: 0;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 40px;
}

.img-review img{
    margin-bottom: 20px;;
}

.container-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    width: 507px;
    justify-content: flex-start;
    align-items: center;
    
}

.form-wrap p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.form{
    background-color: #8D7370;
    color: #FFFFFF;
}

.footer-content{
    list-style: none;
    display: flex;

}